page-home {
    #map{
        height: 100%;
    } 

    .fab[mini] {
        margin: 8px;
        width: 250px;
        height: 60px;
        line-height: 60px;
    }   

    ion-buttons button[icon-only].my-style-for-modal {
        margin: 0 6px;
        min-width: 36px;
     }
}
